// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

* {
  box-sizing: inherit;
  // border: 0.03rem solid black;

  ul{
    list-style: none;
    padding-left: 0;
  }

  &:before,
  &:after {
    box-sizing: inherit;
  }
}
