

@import 'box-sizing';

$grayest: #eee;
$bluegray: #fff;
$lowlight: #f5f5f5;
$lightgray: #0f0f0f;
$accent: #00a5d9;
$purple: #f0f0f0;
$green: #202020;
$border: #fff;
$peach: #ffb49d;
$active: #c80000;
$gutter: 0.5rem;

body {
background: #e7e7e7;
font-family: 'Lato', sans-serif;
}

.page {
  width: 100%;
}

.header-container {
  background: #000;
  color: #fff;
}

.page-width-container {
  width: 70%;
  margin: 0 auto;
}

.header-content {
  vertical-align: middle;
  padding: 0.4rem 0;
  line-height: $gutter;

  h1 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.07rem;
    font-weight: bold;
    margin-left: $gutter * 2.5;
  }
}

.main {
  width: 100%;
  margin: 0 auto;
}

.middle-content {
  display: flex;
  background: $border;
  color: $lightgray;
  padding-top: 0.6rem;
  padding-bottom: 2rem;
  min-height: 100vh;

}

.left-container__img__box {
  overflow: hidden;
  position: relative;
	width: 100%;
  border-radius: $gutter;
}
.left-container__img__box:before{
	display: block;
	padding-top: 100%;
  content: '';
  }
.left-container {
  width: 30%;
  padding: $gutter;
  margin: 0 $gutter;


&__topcontent {
  background: linear-gradient(to top, rgba(255,255,255,1) 0%,$peach 100%);
  padding: 0.8rem;
  border-radius: $gutter;
}

&__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;

  img{
    width: 100%;
  }
  }

&__title {
  letter-spacing: 0.04rem;
}
&__year {
  margin-bottom: 3rem;
  color: $green;
  letter-spacing: 0.08rem;
}
  h2 {
  font-size: 1.2rem;
  }
  h3{
    font-family: 'Noto Serif', serif;
    font-size: 1.4rem;
    line-height: auto;
    padding-left: $gutter;
    border-bottom: 0.15rem solid $purple;
    background: linear-gradient(to left, rgba(255,255,255,1) 0%,$purple 100%);
    border-radius: 0.3rem;
  }
  h4 {
    font-size: 1rem;
  }
  &__creators {
    width: 100%;
    padding: 0.4rem $gutter;

  }
}


.right-container {
  width: 70%;
  padding: 1.5rem;



  h2{
    font-family: 'Noto Serif', serif;
    font-size: 1.4rem;
    margin: 0 0 1rem 0;
    padding: 0.03rem $gutter;
    border-bottom: 0.15rem solid $purple;
    background: linear-gradient(to left, rgba(255,255,255,1) 0%,$purple 100%);
    border-radius: 0.4rem;
  }
  &__new-element {
    width: 100%;

  }


  &__container-characters{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    justify-content: space-between;
    align-items: flex-start;

  }
  &__container-comics {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__element{
    width: calc(100% / 4 - 0.6rem);
    margin: 0.25rem 0.3rem;
    padding: 0.4rem $gutter;
    position: relative;
    &__name {
      line-height: 1.2rem;
    }
    &__image {
      overflow: hidden;
      position: relative;
      width: 100%;
      border-radius: $gutter;
    &:before {
      display: block;
      padding-top: 100%;
      content: '';
    }
      &__img {
        position:  absolute;
	      top: 0;
	      left: 0;
	      bottom: 0;
	      right: 0;
        margin: 0 auto;
        max-width: 100%;


      }
    }
    &__number {
      p{
      text-align: center;
      vertical-align: middle;
    }
  }
    &__button{
      margin: 0.2rem auto 0.8rem auto;
      padding: 0.3rem 0;
      width: 100%;
      text-transform: uppercase;
      outline: none;
      background: $accent;
      color: #fff;
      border: 0.1rem solid darken($accent, 4%);
      border-radius: 0.3rem;
      cursor: pointer;
      transition: background 150ms ease-in, border 300ms linear;

      &:hover {
        background: $active;
        background-image: radial-gradient(darken($active, 3%), rgba(#fff,0) );
        border: 0.1rem solid lighten($active, 3%);
        transition: background 150ms ease-in, border 300ms linear;
      }
    }
  }
}

.modal {
  visibility: hidden;
  opacity: 0;
  background: linear-gradient(to bottom, rgba(#1b1b1b,.75) 0%, rgba(#1b1b1b,.9) 100%) ;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: visibility 300ms ease-in, opacity 0.2s ease-in, background 0.9s ease-in;

  &__container {
    background: #fff;
    width: 45%;
    position: absolute;
    padding: 1.5rem 2rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.5rem 0.8rem rgba(#161616,.59);
  }

  &__active {
    visibility: visible;
    opacity: 1;
    transition: visibility 300ms ease-in, opacity 0.2s ease-in, background 0.9s ease-in;
  }

  &__closebutton {
    border: none;
    font-size: 0.8rem;
    text-align: center;
    font-weight: bolder;
    outline: none;
    color: #393939;
    background: #fff;
    border-radius: 0.7rem;
    padding: 0.25rem 0.4rem;
    position: absolute;
    right: -1.8rem;
    top: 0;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(#161616,.59);
      &:hover {
        color: #c90707;
        background: $grayest;
        transition: color 200ms linear, background 200ms linear;
      }
  }
  &__title{
    padding: 0.02rem $gutter;
    color: #202020;
    letter-spacing: 0.08rem;
    text-shadow: 0.05rem 0.05rem 0.05rem rgba(#7e9193,.63);
    border-bottom: 0.15rem solid $purple;
    background: linear-gradient(to left, rgba(255,255,255,1) 0%,$purple 100%);
    border-radius: 0.4rem;
  }
  &__text{
  line-height: 1.35rem;
  padding: 0 $gutter;
  }
}
